tensorflow
absl-py~=0.10
six
astunparse~=1.6.3
six<2.0,>=1.6.1
wheel<1.0,>=0.23.0
flatbuffers~=1.12.0
gast==0.3.3
google-pasta~=0.2
six
grpcio~=1.32.0
six>=1.5.2
h5py~=2.10.0
numpy>=1.7
six
keras-preprocessing~=1.1.2
numpy>=1.9.1
six>=1.9.0
numpy~=1.19.2
opt-einsum~=3.3.0
numpy>=1.7
protobuf>=3.9.2
six>=1.9
six~=1.15.0
tensorboard~=2.4
absl-py>=0.4
six
google-auth-oauthlib<0.5,>=0.4.1
google-auth>=1.0.0
cachetools<5.0,>=2.0.0
pyasn1-modules>=0.2.1
pyasn1<0.5.0,>=0.4.6
rsa<5,>=3.1.4
pyasn1>=0.1.3
setuptools>=40.3.0
six>=1.9.0
requests-oauthlib>=0.7.0
oauthlib>=3.0.0
requests>=2.0.0
certifi>=2017.4.17
chardet<5,>=3.0.2
idna<3,>=2.5
urllib3<1.27,>=1.21.1
google-auth<2,>=1.6.3
cachetools<5.0,>=2.0.0
pyasn1-modules>=0.2.1
pyasn1<0.5.0,>=0.4.6
rsa<5,>=3.1.4
pyasn1>=0.1.3
setuptools>=40.3.0
six>=1.9.0
grpcio>=1.24.3
six>=1.5.2
markdown>=2.6.8
numpy>=1.12.0
protobuf>=3.6.0
six>=1.9
requests<3,>=2.21.0
certifi>=2017.4.17
chardet<5,>=3.0.2
idna<3,>=2.5
urllib3<1.27,>=1.21.1
setuptools>=41.0.0
six>=1.10.0
tensorboard-plugin-wit>=1.6.0
werkzeug>=0.11.15
wheel>=0.26
tensorflow-estimator<2.5.0,>=2.4.0
termcolor~=1.1.0
typing-extensions~=3.7.4
wheel~=0.35
wrapt~=1.12.1